* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

@font-face {
  font-family: "Bebas Neue Book";
  src: url("../fonts/BebasNeueBook.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Noto Sans", sans-serif;
}

.mobile-menu {
  display: none;
}

.container {
  max-width: 90rem;
  margin: auto;
}

.navbar {
  display: flex;
  align-items: center;
  color: #fff;
  height: 5.875rem;
  position: fixed;
  z-index: 2;
  width: 100%;
  left: 0;
  top: 0;
  border-bottom: 1px solid rgba(235, 235, 240, 0.2);
  transition:
    background-color 0.2s,
    height 0.2s;
}

.navbar-light {
  height: 4.625rem;
  background-color: #fff;
  color: #292d33;
}

.phone-svg {
  fill: #5c8ee6;
}

.logo-svg {
  width: 144px;
  height: 44px;
}

.navbar-light .header__logo-path {
  fill: #292d33;
}

.header {
  padding-top: 5.875rem;
  min-height: 100vh;
}

.header-image {
  background-image: url("../img/header-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}

.header-image::after {
  content: "";
  position: absolute;
  background: rgba(41, 45, 51, 0.6);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.header__logo {
  display: flex;
  align-items: center;
  padding: 0px 3.125rem;
  border-right: 1px solid rgba(235, 235, 240, 0.2);
  height: 100%;
}

.header__nav {
  flex-basis: 100%;
  display: flex;
  list-style: none;
  padding: 0;
  padding-left: 3.125rem;
  margin: 0;
}

.header__nav-item:not(:last-child) {
  margin-right: 3.125rem;
}

.header__nav-link {
  text-decoration: none;
  font-size: 16px;
  color: inherit;
}

.header__phone {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  gap: 0.625rem;
  text-decoration: none;
  margin-right: 3.125rem;
}

.header__phone-link {
  text-decoration: none;
  font-size: 1rem;
  color: inherit;
}

.button {
  font-weight: 600;
  font-size: 1rem;
  line-height: 160%;
  color: white;
  background: #3a71d1;
  padding: 1.5625rem 3.75rem;
  border: none;
  display: inline-block;
  cursor: pointer;
}

.navbar__button {
  flex-shrink: 0;
  height: 100%;
  padding: 1.5625rem 3.3125rem;
}

.navbar__button .butto-icon {
  display: none;
}

.seporator {
  background: #5cbee6;
  width: 9.375rem;
  height: 0.125rem;
}

.header-content {
  padding-top: 9.375rem;
  position: relative;
  z-index: 1;
  color: #fff;
}

.header__title {
  max-width: 67.5rem;
  font-family: "Bebas Neue Book";
  font-size: 5rem;
  line-height: 120%;
  margin: 1.4375rem 0;
  letter-spacing: 0.8px;
  padding-bottom: 0.9375rem;
}

.header__text {
  max-width: 45rem;
  font-weight: 400;
  font-size: 1rem;
  line-height: 160%;
  margin-bottom: 3.125rem;
}

.header__features {
  display: flex;
  position: relative;
  min-height: 10.5rem;
  padding: 0;
  margin-top: 6.25rem;
  list-style: none;
  color: #fff;
  z-index: 1;
}

.heder__features-item {
  padding: 1.875rem 3.125rem;
  width: 18rem;
  border: 1px solid rgba(235, 235, 240, 0.2);
}

.header__features-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  margin-bottom: 0;
  margin-top: 1.125rem;
}

.heder__features-item:not(:last-child) {
  border-right: none;
}

.section {
  margin-top: 8.5rem;
  margin-bottom: 9.375rem;
}

.section__title {
  font-family: "Bebas Neue Book";
  font-weight: 700;
  font-size: 3.75rem;
  line-height: 105%;
  color: #292d33;
  margin: 1.875rem 0 3.5625rem;
}

.steps {
  display: flex;
  list-style: none;
  padding: 0;
  gap: 1.875rem;
}

.steps__item {
  max-width: 20.625rem;
}

.steps__num {
  font-family: "Bebas Neue Book";
  font-weight: 800;
  font-size: 3rem;
  line-height: 120%;
  color: #5c8ee5;
  display: flex;
  align-items: center;
}

.steps__num::after {
  content: "";
  height: 1px;
  background: #ebebf0;
  width: 100%;
  margin-left: 1.875rem;
}

.steps__title {
  font-weight: 400;
  font-size: 1.75rem;
  line-height: 160%;
  color: #292d33;
  margin-top: 1.875rem;
  margin-bottom: 0.625rem;
}

.steps__text {
  font-weight: 400;
  font-size: 1rem;
  line-height: 160%;
  color: #828a99;
  margin-top: 0.625rem;
  margin-bottom: 1.25rem;
}

.steps__link {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-weight: 600;
  font-size: 1rem;
  line-height: 160%;
  color: #5c8ee5;
}

.steps__link::before {
  content: "";
  height: 1px;
  background: #5c8ee5;
  width: 40px;
  margin-right: 20px;
}

@media (max-width: 1700px) {
  html {
    font-size: 14px;
  }

  .header-image {
    background-position: center;
  }
}

@media (max-width: 1460px) {
  html {
    font-size: 13px;
  }

  .header__logo {
    padding: 2rem;
  }

  .logo-svg {
    min-width: 6rem;
  }

  .header__nav {
    padding-left: 2rem;
  }

  .header__nav-item:not(:last-child) {
    margin-right: 1rem;
  }

  .header__phone {
    margin-right: 2rem;
  }
}

@media (max-width: 1200px) {
  .container {
    min-width: 70rem;
  }

  .header__phone {
    display: none;
  }

  .navbar {
    height: 5rem;
  }

  .navbar__button {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

@media (max-width: 992px) {
  html {
    font-size: 12px;
  }
  .container {
    min-width: 60rem;
  }

  .header__nav {
    display: none;
  }

  .header__logo {
    flex-grow: 1;
    justify-content: center;
  }

  .mobile-menu-toggle {
    width: 80px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 1.8rem;
    border-right: 1px solid rgba(235, 235, 240, 0.2);
  }

  .navbar-light .mobile-menu-line {
    background-color: #333;
  }

  .mobile-menu-line {
    height: 1px;
    background-color: #fff;
    width: 100%;
    transition: transform 0.2s;
  }

  .mobile-menu-line:nth-child(2) {
    width: 80%;
  }

  .navbar__button .button-text {
    display: none;
  }

  .navbar__button .butto-icon {
    display: block;
    fill: #ffffff;
  }

  .mobile-menu {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    z-index: 2;
    background-color: #fff;
    padding-top: 5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  .mobile-menu.is-open {
    display: block;
  }

  .mobile-menu__nav {
    list-style: none;
    padding: 0;
  }

  .mobile-menu__nav-item {
    margin-bottom: 2rem;
  }

  .mobile-menu__nav-link {
    text-decoration: none;
    font-weight: 700;
    font-size: 14px;
    line-height: 160%;
    color: #292d33;
  }

  .mobile-submenu {
    list-style-type: none;
    padding: 0;
    padding-left: 1rem;
    margin-top: 1rem;
  }

  .mobile-submenu__link {
    text-decoration: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 160%;
    color: #828a99;
  }

  .mobile-phone {
    display: block;
    font-weight: 600;
    font-size: 20px;
    line-height: 160%;
    text-decoration-line: underline;
    color: #292d33;
    border-top: 1px solid #ebebf0;
    padding-top: 2rem;
    margin-bottom: 1.5rem;
  }

  .mobile-info {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1rem;
  }

  .mobile-info__address,
  .mobile-info__email {
    font-style: normal;
    text-decoration: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 160%;
    color: #292d33;
  }

  .mobile-social {
    display: flex;
    gap: 15px;
  }

  .close-menu .mobile-menu-line:nth-child(2) {
    display: none;
  }

  .close-menu .mobile-menu-line:nth-child(1) {
    transform: rotate(45deg) translateY(9px);
  }

  .close-menu .mobile-menu-line:nth-child(3) {
    transform: rotate(-45deg) translateY(-9px);
  }
}
